body {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  text-align: center;
}

#top {
  display: inline-flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#ul-menu li {
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.first {
  font-size: 2em;
  padding-top: 10em;
  padding-right: 0px;
  padding-bottom: 10em;
  padding-left: 0px;
}
