body {
  font-family: "Times New Roman", Times, serif;
  color: #000;
}

#ul-menu li {
  display: inline-block;

  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#top {
  display: inline-flex;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
